.work .container { padding-inline: 0;}

.work .section-title { margin-block-end: 24px;}

.work-card { position: relative;}

.work-card .card-content {
  background-color: var(--white);
  max-width: 100%;
  padding: 10px;
  margin-block-start: -60px;
  margin-inline: auto;
  position: relative;
  text-align: center;
  box-shadow: var(--shadow);
}

.work-card .card-subtitle {
  font-family: var(--ff-chakra-petch);
  text-transform: uppercase;
  color: var(--international-orange-engineering);
  font-weight: var(--fw-700);
  margin-block-end: 5px;
}

.work-card .card-title { margin-block-end: 10px;}

.work-card .card-btn {
  background-color: var(--international-orange-engineering);
  color: var(--white);
  font-size: 2rem;
  margin-inline: auto;
  width: 28px;
  height: 28px;
  display: grid;
  place-items: center;
  border-radius: var(--radius-circle);
}