.service-banner {display: none;}

.service { text-align: center;}

.service-list {
  gap: 0;
  margin-block-end: 20px;
}

.service-card .card-icon {
  max-width: max-content;
  margin-inline: auto;
  margin-block-end: 24px;
}

.service-card .card-text {
  line-height: 1.2;
  margin-block: 8px;
}

.service .btn { margin-inline: auto;}